@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden;
  }

  .print-root,
  .print-root * {
    visibility: visible;
  }

  .print-root {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    margin: 0;
    padding: 0;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 10mm;
  }
}